---
layout: default
author: Kim
---

{% for category in site.categories %}
<h3>
  {{ category[0] }}
  <span
    >{% for post in category[1] %} [{{ forloop.length }}] {% if forloop.first %}
    {% break %} {% endif %} {% endfor %}</span
  >
</h3>
<ul>
  {% for post in category[1] limit:5 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<a id="more" href="/blog/index.html">查看所有文章 >></a>

<div id="file-list">
  <h4>文章存档</h4>
  <ul>
    {% assign count = 1 %} {% for post in site.posts %} {% assign year =
    post.date | date: '%Y' %} {% assign month = post.date | date: '%m' %} {%
    assign nyear = post.previous.date | date: '%Y' %} {% assign nmonth =
    post.previous.date | date: '%m' %} {% if year != nyear or month != nmonth %}
    <li>
      <a href="/file/{{ year }}/{{ month }}/index.html"
        >{{ year }} 年 {{ month }} 月（{{ count }}）</a
      >
      {% assign count = 1 %}
    </li>
    {% else %} {% assign count = count | plus: 1 %} {% endif%} {% endfor %}
  </ul>
</div>
