---
---

@import '{{ site.theme }}';

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.page-header {
  padding: 2rem;
}

.project-tagline {
  margin: 15px auto;
}

.main-content {
  width: 960px;
}

.site-footer {
  width: 960px;
  padding: 1rem 0;
  margin: 0 auto;
  border-color: #ccc;
  text-align: right;
}

#home {
  position: relative;
  padding: 2rem 0;
  padding-left: calc(120px + 2rem);
}

#ads-vultr {
  position: absolute;
  left: 0;
}

#home > section {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

#more {
  display: inline-block;
  margin-top: 3rem;
  color: #159957;
}

#file-list {
  align-self: flex-start;
  // width: 240px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 2rem;
  background-color: #fff;
}

.list-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.list > li {
  margin-bottom: 3rem;
}

.list > li a {
  color: #159957;
}

.list > li > p {
  font-size: 14px;
}

.list > li .post-info img {
  width: 14px;
  height: 14px;
}
.list > li .post-info span {
  margin-left: 6px;
  color: #999;
  font-size: 14px;
}

.category-container > span {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  background-color: #1e6bb8;
}
