---
---

@import '{{ site.theme }}';

:root {
  --white: #fff;
}

a {
  font-family: 'Microsoft Yahei';
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-start-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.page-header {
  padding: 2rem;
}

.project-tagline {
  margin: 15px auto;
}

.site-footer {
  width: 960px;
  padding: 1rem 0;
  margin: 0 auto;
  border-top: 1px solid #b5e853;
  text-align: right;
}

#home {
  position: relative;
  padding: 2rem 0;
  padding-left: calc(120px + 2rem);
}

#home > section {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--white);
}

#more {
  display: inline-block;
  margin-top: 1rem;
}

#file-list {
  align-self: flex-start;
  // width: 240px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 2rem;
  background-color: #fff;
}

.list-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 10px;
}

.list > li {
  margin-bottom: 1rem;
}

.list > li > div {
  display: flex;
  align-items: center;
}

.list > li h3 {
  margin-bottom: 0;
}

.list > li .post-info {
  margin-left: 20px;

  img {
    width: 14px;
    height: 14px;
  }

  span {
    margin-left: 6px;
    color: #999;
    font-size: 14px;
  }
}

.category-container > span {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  background-color: #1e6bb8;
}
