---
layout: list
---

<ul class="list">
  {% for post in paginator.posts %}
  <li>
    <h3>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    <div class="category-container">
      {% for category in post.categories %}
      <span>{{ category }}</span>
      {% endfor %} {% for tag in post.tags %}
      <span>{{ tag }}</span>
      {% endfor %}
    </div>
    <p>{{ post.excerpt }}</p>
    <div class="post-info flex-start-center">
      :clock9:
      <span>{{ post.date | date: '%Y年%m月%d日' }}</span>
    </div>
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination text-center">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    上一页
  </a>
  {% else %}
  <span class="previous">上一页</span>
  {% endif %} &nbsp;&nbsp;
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  &nbsp;&nbsp; {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
  <span class="next ">下一页</span>
  {% endif %}
</div>
{% endif %}
